@font-face {
  font-family: Roboto-Light;
  src: url('./media/fonts/Roboto-Light.ttf') format('opentype'); 
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./media/fonts/Roboto-Medium.ttf') format('opentype'); 
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./media/fonts/Roboto-Regular.ttf') format('opentype'); 
}

@font-face {
  font-family: Gothic-Regular;
  src: url('./media/fonts/DidactGothic-Regular.ttf') format('opentype'); 
}

@font-face {
  font-family: OpenSans-Light;
  src: url('./media/fonts/OpenSans_Condensed-Light.ttf') format('opentype'); 
}

@font-face {
  font-family: OpenSans-Medium;
  src: url('./media/fonts/OpenSans_Condensed-Medium.ttf') format('opentype'); 
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('./media/fonts/OpenSans_Condensed-Regular.ttf') format('opentype'); 
}
